<template>
    <CustomModal :size="'tiny'">
        <div class="confirm-delete-container">
            <div class="header">
                <p>Are you sure you want to delete this employee?</p>
            </div>
            <div class="btn-container">
                <button class="btn submit-btn" v-on:click="onDeleteEmployee()">Yes</button>
                <button class="btn" v-on:click="togglePopup(false)">Cancel</button>
            </div>
        </div>
    </CustomModal>
</template>

<script>
    import CustomModal from "./CustomModal";
    import {mapGetters} from 'vuex';

    export default {
        name: 'ConfirmDelete',
        props: {
            employee: {
                type: Object,
                required: true
            },
            deleteSelectedEmployee: {
                type: Function,
                required: false
            },
            togglePopup: {
                type: Function,
                required: false
            }
        },
        computed: {
            ...mapGetters(['employees']),
            getEmpId() {
                return this.$store.getters.getUpdatedEmpId;
            }
        },
        watch: {
            getEmpId(newValue, oldValue) {
                if (newValue !== null && newValue !== oldValue) {
                    this.$props.addNewEmployee(newValue);
                    this.$props.showHideModal(false);
                }
            }
        },
        methods: {
          onDeleteEmployee() {
              // this.$store.dispatch(DELETE_EMPLOYEE, this.$props.employee.id);
              this.$props.deleteSelectedEmployee(this.$props.employee);
              this.$props.togglePopup(false);
          }
        },
        components: {CustomModal}
    }
</script>

<style scoped>
    .confirm-delete-container .header {
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    .confirm-delete-container .header p {
        padding: 16px;
    }
    .confirm-delete-container .btn-container {
        padding: 16px;
        padding-bottom: 24px;
        display: flex;
        justify-content: space-between;
    }
</style>
