<template>
    <div>
        <div class="heading">
            <h3>{{ isEditMode ? 'Edit' : 'Create' }} Employee</h3>
        </div>
        <div class="create-employee-container">
            <div>
                <span v-if="errors.length">
                    <b>Please correct the following error(s):</b>
                    <span class="error-text" v-for="(error, index) in errors" v-bind:key="index">{{ error }}</span>
                </span>
            </div>
            <form novalidate @submit="checkForm" class="form-employee">
                <div class="input-container">
                    <label for="emp-id">Id</label>
                    <div class="id-tag">
                        <span>EM</span>
                        <input id="emp-id" type="text" v-model.trim="employee.id" disabled />
                    </div>
                </div>
                <div class="input-container inline">
                    <div class="container">
                        <label for="emp-firstName">First Name<sup>*</sup></label>
                        <input id="emp-firstName" type="text" v-model.trim="employee.firstName" />
                    </div>
                    <div class="container">
                        <label for="emp-lastName">Last Name<sup>*</sup></label>
                        <input id="emp-lastName" type="text" v-model.trim="employee.lastName"/>
                    </div>
                </div>
                <div class="input-container">
                    <label for="emp-jobTitle">Job Title<sup>*</sup></label>
                    <input id="emp-jobTitle" type="text" v-model.trim="employee.jobTitleName" />
                </div>
                <div class="input-container">
                    <label for="emp-email">Email<sup>*</sup></label>
                    <input id="emp-email" type="email" v-model.trim="employee.emailAddress"/>
                </div>
                <div class="input-container">
                    <label for="emp-phone">Phone Number<sup>*</sup></label>
                    <input id="emp-phone" type="tel" v-model.trim="employee.phoneNumber"/>
                </div>
                <div class="input-container inline">
                    <div class="container">
                        <label for="emp-region">Region<sup>*</sup></label>
                        <input id="emp-region" type="text" v-model.trim="employee.region"/>
                    </div>
                    <div class="container">
                        <label for="emp-dob">DOB<sup>*</sup></label>
                        <input id="emp-dob" type="date" v-model="employee.dob" />
                    </div>
                </div>
                <div class="input-container">
                    <button class="btn submit-btn" type="submit">{{ isEditMode ? 'Save Changes' : 'Create' }}</button>
                    <button class="btn cancel-btn second" type="button" v-on:click="showHideModal(false)">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import {CREATE_EMPLOYEE} from '../store/actions.type';
    import {mapGetters} from 'vuex';

    export default {
        name: 'CreateEmployee',
        props: {
            employees: {
                type: Array,
                required: false
            },
            addNewEmployee: {
                type: Function,
                required: false
            },
            showHideModal: {
                type: Function,
                required: false
            },
            isEditMode: {
                type: Boolean,
                required: false
            },
            editEmployee: {
                type: Function,
                required: false
            }
        },
        data() {
            return {
                employee: {
                    id: null,
                    firstName: "",
                    lastName: "",
                    jobTitleName: "",
                    region: "",
                    dob: "",
                    phoneNumber: "",
                    emailAddress: ""
                },
                errors: []
            }
        },
        computed: {
            ...mapGetters(['employee']),
            getNewEmployee() {
                return this.$store.getters.employee;
            }
        },
        mounted() {
            this.setDataForEditMode();
            const count = this.employees.length;
            this.employee.id = this.employees[count - 1].id + 1;
            this.employee.employeeCode = "E" + this.employee.id;
        },
        watch: {
            getNewEmployee(newValue, oldValue) {
                if (newValue !== null && newValue !== oldValue) {
                    if (this.isEditMode) {
                        this.$props.editEmployee(newValue);
                    } else {
                        this.$props.addNewEmployee(newValue);
                    }
                    this.$props.showHideModal(false);
                }
            }
        },
        methods: {
            saveFormData() {
                this.$store.dispatch(CREATE_EMPLOYEE, this.employee);
            },
            checkForm: function (e) {
                this.errors = [];

                if (!this.employee.id) {
                    this.errors.push('Id required');
                }
                if (!this.employee.firstName) {
                    this.errors.push('First name required');
                }
                if (!this.employee.lastName) {
                    this.errors.push('Last name required');
                }
                if (!this.employee.jobTitleName) {
                    this.errors.push('Job title required');
                }
                if (!this.employee.region) {
                    this.errors.push('Region required');
                }
                if (!this.employee.dob) {
                    this.errors.push('Date of birth required');
                }
                if (!this.employee.emailAddress) {
                    this.errors.push('Email Address required');
                }
                if (!this.employee.phoneNumber) {
                    this.errors.push('Phone number required');
                }

                e.preventDefault();

                if (this.errors.length === 0) {
                    if (this.isEditMode) {
                        this.updateFormData();
                    } else {
                        this.saveFormData();
                    }
                }
            },
            setDataForEditMode() {
                if (this.$props.isEditMode) {
                    for (const key in this.employee) {
                        this.employee[key] = this.$props.employees[key];
                    }
                }
            },
            updateFormData() {
                this.$props.editEmployee(this.employee);
                this.showHideModal(false);
                /* delete API is giving 404 error so handled on frontend data */
                // this.$store.dispatch(UPDATE_SELECTED_EMPLOYEE, this.employee);
            }
        }
    }
</script>

<style scoped>
    .input-container {
        margin-bottom: 24px;
    }
    .input-container label {
        display: block;
        margin-bottom: 4px;
    }
    .input-container input {
        width: calc(100% - 16px);
        height: 24px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 8px;
    }
    .input-container input:focus {
        outline: none;
    }
    .input-container.inline {
        display: flex;
        justify-content: space-between;
    }
    .input-container.inline .container {
        width: calc(50% - 16px);
    }
    .heading {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-left: 16px;
    }
    .create-employee-container {
        padding: 16px;
    }
    .error-text {
        font-size: 14px;
        color: red;
        display: block;
        margin-top: 6px;
        margin-bottom: 2px;
    }
    .form-employee {
        margin-top: 16px;
    }
    .id-tag {
        display: flex;
        align-items: center;
    }
    .id-tag span {
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-right: none;
        padding: 9px;
        background: rgba(0, 0, 0, 0.05);
    }
    .id-tag input {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .input-container .id-tag {
        width: 30%;
    }
</style>
