<template>
    <div>
        <div class="screen-top backdrop" v-on:click="toggle(false)"></div>
        <div class="screen-top modal-container" :style="{width: size === 'tiny' ? '20%' : '40%'}">
            <div class="modal-content">
                <slot />
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CustomModal",
        props: {
            toggle: {
                type: Function,
                required: false
            },
            size: {
                type: String,
                required: false
            }
        }
    }
</script>

<style>
    .screen-top {
        position: absolute;
        top: 0;
        left: 0;
    }
    .backdrop {
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
        z-index: 9;
        height: 100%;
    }
    .modal-container {
        z-index: 11;
        background: #fff;
        border-radius: 8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 700px;
        overflow: auto;
    }
</style>
