<template>
    <div>
        <div class="search-container">
            <select class="search-dropdown" v-on:change="selectFilter($event)">
                <option value="employeeCode">Employee Code</option>
                <option value="firstName">First Name</option>
                <option value="lastName">Last Name</option>
                <option value="jobTitleName">Job Title</option>
                <option value="phoneNumber">Phone number</option>
                <option value="emailAddress">Email Address</option>
            </select>
            <input type="search" name="search" class="search-input" v-on:keyup="filterData($event)" />
        </div>
        <div class="menu-backdrop" v-if="Object.keys(menuOpen).length > 0" v-on:click="resetMenu()"></div>
        <div class="table-container">
            <div class="table-container-inner">
                <table class="data-table">
                    <tr>
                        <th>ID
                            <div>ID</div>
                        </th>
                        <th>Full Name
                            <div>Full Name</div>
                        </th>
                        <th>Employee Code
                            <div>Employee Code</div>
                        </th>
                        <th>Job Title
                            <div>Job Title</div>
                        </th>
                        <th>
                            Phone Number
                            <div>Phone Number</div>
                        </th>
                        <th>Email ID
                            <div>Email ID</div>
                        </th>
                        <th>Region
                            <div>Region</div>
                        </th>
                        <th>DOB
                            <div>DOB</div>
                        </th>
                        <th>
                            <div></div>
                        </th>
                    </tr>
                    <tr v-for="item in tableData" v-bind:key="item.id">
                        <td class="emp-id">{{ item.empId }}</td>
                        <td>{{ item.firstName + " " + item.lastName }}</td>
                        <td>{{ item.employeeCode }}</td>
                        <td>{{ item.jobTitleName }}</td>
                        <td>{{ item.phoneNumber }}</td>
                        <td>{{ item.emailAddress }}</td>
                        <td>{{ item.region }}</td>
                        <td>{{ item.dob }}</td>
                        <td class="more-cell">
                            <button id="more-btn" class="more-btn" v-on:click="openMenu(item.id)">
                                <span class="more-dot"></span>
                                <span class="more-dot"></span>
                                <span class="more-dot"></span>
                            </button>
                            <div class="more-menu" v-show="menuOpen[item.id] === true">
                                <ul>
                                    <li v-on:click="viewEmployeeInfo(item)">View</li>
                                    <li v-on:click="openEditEmployee(item)">Edit</li>
                                    <li v-on:click="openConfirmDelete(item)">Delete</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="pagination-container">
            <Pagination :data="tableData"
                        v-if="loadPagination"
                        :total-results="this.$props.data && [...this.$props.data].length"
                        :per-page="perPage"
                        :on-offset-change="onOffsetChange"
                        :on-page-change="onPageChange"/>
        </div>
        <CustomModal v-if="isEmployeeInfoOpen" :toggle="toggleViewEmployeeModal">
            <EmployeeInfo :data="currentEmployee" />
        </CustomModal>
        <CustomModal v-if="isEditMode" :toggle="this.$props.showHideModal">
            <CreateEmployee :employees="currentEmployee"
                            :is-edit-mode="true"
                            :edit-employee="this.$props.editEmployee"
                            :show-hide-modal="showHideEditPopup" />
        </CustomModal>
        <ConfirmDelete v-if="isConfirmDeletePopup"
                       :toggle-popup="toggleDeletePopup"
                       :employee="currentEmployee"
                       :delete-selected-employee="onRemoveEmployee"/>
    </div>
</template>

<script>
    import CustomModal from "./CustomModal";
    import EmployeeInfo from "./EmployeeInfo";
    import CreateEmployee from "./CreateEmployee";
    import ConfirmDelete from "./ConfirmDelete";
    import Pagination from "./Pagination";
    export default {
        name: 'DataTable',
        components: {Pagination, ConfirmDelete, CreateEmployee, EmployeeInfo, CustomModal},
        props: {
            data: {
                type: Array,
                required: true
            },
            createModal: {
                type: Function,
                required: false
            },
            editEmployee: {
                type: Function,
                required: false
            },
            showHideModal: {
                type: Function,
                required: false
            },
            onRemoveEmployee: {
                type: Function,
                required: false
            }
        },
        data() {
            return {
                menuOpen: {},
                isEmployeeInfoOpen: false,
                currentEmployee: null,
                isEditMode: false,
                isConfirmDeletePopup: false,
                filterSelected: 'employeeCode',
                tableData: null,
                perPage: 5,
                loadPagination: false
            }
        },
        mounted() {
            setTimeout(() => {
                this.tableData = [...this.$props.data];
                this.onPageChange(1);
                this.loadPagination = true;
            });
        },
        computed: {
            getTableData() {
                return this.$props.data;
            }
        },
        watch: {
            getTableData(newValue) {
                this.tableData = [...newValue];
            }
        },
        methods: {
            openMenu(id) {
                this.resetMenu();
                this.menuOpen[id] = !this.menuOpen[id];
            },
            viewEmployeeInfo(employee) {
                this.resetMenu();
                this.isEmployeeInfoOpen = true;
                this.currentEmployee = employee;
            },
            toggleViewEmployeeModal(isOpened) {
                this.isEmployeeInfoOpen = isOpened;
            },
            openEditEmployee(employee){
                this.resetMenu();
                this.$props.createModal(true);
                this.isEditMode = true;
                this.currentEmployee = employee;
            },
            openConfirmDelete(employee) {
                this.resetMenu();
                this.isConfirmDeletePopup = true;
                this.currentEmployee = employee;
            },
            selectFilter(event) {
                this.filterSelected = event.target.value;
            },
            filterData(event) {
                const searchQuery = event.target.value;
                this.filterSelected = this.filterSelected === 'name' ? 'firstName' : this.filterSelected;
                if (searchQuery) {
                    this.tableData = this.$props.data.filter(item => {
                        return searchQuery.toLowerCase().split(' ').every(v => item[this.filterSelected].toLowerCase().includes(v));
                    });
                } else {
                    this.tableData = [...this.$props.data];
                    this.onPageChange(1);
                }
            },
            onPageChange(page = 1) {
                let from = (page * this.perPage) - this.perPage;
                let to = (page * this.perPage);
                this.loadPagination = true;
                if (this.tableData !== null) {
                    this.tableData =  [...this.$props.data.slice(from, to)] || [];
                }
            },
            onOffsetChange(event) {
                this.perPage = parseInt(event.target.value);
                this.loadPagination = false;
                setTimeout(() => {
                    this.onPageChange(this.page);
                });
            },
            toggleDeletePopup(flag) {
                this.isConfirmDeletePopup = flag;
            },
            resetMenu() {
                this.menuOpen = {};
            },
            showHideEditPopup(flag) {
                this.isEditMode = flag;
                this.$props.showHideModal(false);
            }
        }
    }
</script>

<style type="text/css" scoped>
    .data-table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }

    .data-table th, .data-table td {
        text-align: left;
        padding: 16px;
    }

    .data-table th {
        height: 0;
        line-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        color: transparent;
        border: none;
        white-space: nowrap;
    }

    .data-table th > div {
        position: absolute;
        background: transparent;
        color: #000;
        padding: 9px 25px;
        top: 0;
        margin-left: -25px;
        line-height: normal;
        /*border-left: 1px solid #800;*/
    }

    .data-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    .more-cell {
        position: relative;
    }
    .more-btn {
        background: none;
        border: 0 none;
        line-height: normal;
        overflow: visible;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        width: 100%;
        text-align: left;
        outline: none;
        cursor: pointer;
    }

    .more-dot {
        background-color: #aab8c2;
        margin: 0 auto;
        display: inline-block;
        width: 7px;
        height: 7px;
        margin-right: 1px;
        border-radius: 50%;
        transition: background-color 0.3s;
    }

    .more-menu {
        position: absolute;
        top: 20px;
        left: -36px;
        width: 100%;
        background: #ffff;
        margin-bottom: 10px;
        z-index: 12;
        border-radius: 4px;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
        transform: translate(0, 15px) scale(.95);
        transition: transform 0.1s ease-out,
    }
    .more-menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .more-menu li {
        padding: 8px;
        background: #fff;
        cursor: pointer;
        margin-bottom: 8px;
    }
    .more-menu li:hover {
        background: rgba(0,0,0,0.1);
    }
    .data-table .emp-id {
        color: rgb(26, 115, 232);
        font-weight: 600;
    }
    .search-dropdown {
        background: rgba(0,0,0,0.08);
    }
    .search-dropdown, .search-input {
        height: 28px;
        border: 1px solid rgba(0,0,0,0.2);
    }
    .search-input {
        border-left: none;
        padding-left: 8px;
    }
    .search-dropdown:focus, .search-input:focus {
        outline: 0;
    }
    .table-container-inner {
        overflow-y: auto;
        max-height: 300px;
    }
    .table-container {
        position: relative;
        border: 1px solid rgba(0,0,0,0.1);
        padding-top: 37px;
        margin-top: 36px;
    }
    .menu-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: 10;
    }
</style>
