<template>
    <div class="employee-info">
        <div class="header">
            <p class="left-padding">{{ "EM" + employee.id }}</p>
            <h2 class="left-padding">{{ employee.firstName + " " + employee.lastName }}</h2>
        </div>
        <div>
            <div class="inline">
                <p class="emp-attribute">Name</p>
                <p>{{ employee.firstName + " " + employee.lastName }}</p>
            </div>
            <div class="inline">
                <p class="emp-attribute">Employee Code</p>
                <p>code</p>
            </div>
            <div class="inline">
                <p class="emp-attribute">Job Title</p>
                <p>{{ employee.jobTitleName }}</p>
            </div>
            <div class="inline">
                <p class="emp-attribute">Phone Number</p>
                <p>{{ employee.phoneNumber }}</p>
            </div>
            <div class="inline">
                <p class="emp-attribute">Email ID</p>
                <p>{{ employee.emailAddress }}</p>
            </div>
            <div class="inline">
                <p class="emp-attribute">Region</p>
                <p>{{ employee.region }}</p>
            </div>
            <div class="inline">
                <p class="emp-attribute">DOB</p>
                <p>{{ employee.dob }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'EmployeeInfo',
        props: {
            data: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                employee: null
            }
        },
        mounted() {
            this.employee = this.$props.data;
        }
    }
</script>

<style scoped>
    .left-padding {
        padding-left: 24px;
    }
    .employee-info {
        padding-bottom: 22px;
    }
    .inline {
        display: flex;
        justify-content: space-between;
        padding: 0 24px;
    }
    .employee-info .header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .emp-attribute {
        color: rgba(0,0,0,0.5);
    }
</style>
