<template>
    <div class="container">
        <div class="inline-head">
            <h3>Employees</h3>
            <button class="create-btn btn submit-btn"
                    v-on:click="toggleCreateEmployeeModal(true)">Create Employee
            </button>
        </div>
        <template v-if="isModalOpened">
            <CustomModal :toggle="toggleCreateEmployeeModal">
                <CreateEmployee :employees="employeeList"
                                :add-new-employee="addNewEmployee"
                                :show-hide-modal="toggleCreateEmployeeModal"
                />
            </CustomModal>
        </template>
        <div class="data-table-container">
            <DataTable :data="employeeList"
                       :on-remove-employee="onRemoveEmployee"
                       :create-modal="toggleCreateEmployeeModal"
                       :edit-employee="editEmployee"
                       :show-hide-modal="toggleCreateEmployeeModal" />
        </div>
    </div>
</template>

<script>
    import DataTable from './DataTable';
    import CustomModal from "./CustomModal";
    import CreateEmployee from "./CreateEmployee";
    import {FETCH_EMPLOYEES} from '../store/actions.type';
    import {changeDateFormat} from '../common/helpers';
    import {mapGetters} from 'vuex';

    export default {
        name: 'Employees',
        computed: {
            ...mapGetters([
                'employees'
            ]),
            getEmployeeList() {
                return this.$store.getters.employees;
            }
        },
        data() {
            return {
                isModalOpened: false,
                employeeList: []
            }
        },
        watch: {
            getEmployeeList(newValue, oldValue) {
                if (newValue !== oldValue) {
                    this.employees[0].forEach(employee => {
                        employee.dob = changeDateFormat(employee.dob);
                        employee.empId = 'EM' + employee.id;
                    });
                    localStorage.setItem("employees", JSON.stringify(this.employees));
                    this.employeeList.push(...this.employees[0]);
                }
            }
        },
        methods: {
            toggleCreateEmployeeModal(isOpened) {
                this.isModalOpened = isOpened;
            },
            fetchEmployees() {
                const employeesFromStorage = JSON.parse(localStorage.getItem('employees'));
                if (employeesFromStorage !== null) {
                    this.modifyDateInEmployee(employeesFromStorage[0]);
                }
                if (employeesFromStorage === null) {
                    this.$store.dispatch(FETCH_EMPLOYEES);
                } else {
                    this.modifyDateInEmployee(employeesFromStorage[0]);
                    this.employeeList.push(...employeesFromStorage[0]);
                }
            },
            modifyDateInEmployee(emp) {
                emp.forEach(employee => {
                    if (employee.id === parseInt(employee.id)) {
                        employee.empId = 'EM' + employee.id;
                    }
                    employee.dob = changeDateFormat(employee.dob);
                });
            },
            addNewEmployee(employee) {
                employee.employeeCode = 'E' + employee.id;
                employee.empId = 'EM' + employee.id;
                const employees = JSON.parse(localStorage.getItem('employees'));
                employees[0].push(employee);
                localStorage.setItem('employees', JSON.stringify(employees));
                this.employeeList.push(employee);
            },
            editEmployee(employee) {
                const employees = JSON.parse(localStorage.getItem('employees'));
                if (employee !== null) {
                    const index = employees[0].findIndex(emp => emp.id === employee.id);
                    if (index > -1) {
                        for (const key in employees[0][index]) {
                            employees[0][index][key] = employee[key];
                        }
                        employees[0][index].employeeCode = 'E' + employee.id;
                        employees[0][index].empId = 'EM' + employee.id;
                    }
                    localStorage.setItem('employees', JSON.stringify(employees));
                    this.employeeList = [...employees[0]];
                }
            },
            onRemoveEmployee(employee) {
                const employees = JSON.parse(localStorage.getItem('employees'));
                if (employee !== null) {
                    const index = employees[0].findIndex(emp => emp.id === employee.id);
                    if (index > -1) {
                        employees[0].splice(index, 1);
                    }
                    localStorage.setItem('employees', JSON.stringify(employees));
                    this.employeeList = [...employees[0]];
                }
            }
        },
        mounted() {
            this.fetchEmployees();
        },
        components: {CreateEmployee, CustomModal, DataTable}
    }
</script>

<style scoped>
    .container {
        padding: 32px 64px;
    }
    .data-table-container {
        margin-top: 32px;
    }
    .inline-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .create-btn {
        padding: 8px 16px;
    }
</style>
