<template>
    <div class="navbar">
        <div class="logo-container">
            <p class="logo-title">ABC BANK</p>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'NavBar',
        props: {
            article: {
                type: String,
                required: false
            }
        }

    }

</script>


<style scoped>
    .navbar {
        width: 100%;
        height: 52px;
        background: rgba(0, 0, 0, 1);
    }
    .logo-title {
        color: #fff;
    }
    .logo-container {
        display: flex;
        align-items: center;
        margin-left: 36px;
    }
</style>
