<template>
    <ul class="pagination">
        <li class="page-item">
            <label>Results Per Page</label>
            <select class="offset-dropdown" v-model="perPage" v-on:change="onOffsetChange($event)">
                <option value="2">2</option>
                <option value="5">5</option>
                <option value="10">10</option>
            </select>
        </li>
        <li class="page-item">
            <button type="button"
                    class="page-link"
                    :disabled="page === 1"
                    @click="goToPreviousPage()"> Previous
            </button>
        </li>
        <li class="page-item">
            <button type="button"
                    class="page-link"
                    :class="{'active': page === index + 1}"
                    @click="goToSelectedPage(pageNumber)"
                    v-for="(pageNumber, index) in pages"
                    v-bind:key="index"> {{pageNumber}}
            </button>
        </li>
        <li class="page-item">
            <button type="button"
                    @click="goToNextPage()"
                    :disabled="page >= pages.length"
                    class="page-link"> Next
            </button>
        </li>
    </ul>
</template>

<script>
    export default {
        name: 'Pagination',
        props: {
            data: {
                type: Array
            },
            totalResults: {
                type: Number,
                required: true
            },
            perPage: {
                type: Number,
                required: true,
                default: 2
            },
            onPageChange: {
                type: Function,
                required: true
            },
            onOffsetChange: {
                type: Function,
                required: true
            },
            resetCurrentPage: {
                type: Function,
                required: false
            }
        },
        data () {
            return {
                page: 1,
                pages: [],
            }
        },
        methods: {
            setPages() {
                let numberOfPages = Math.ceil(this.$props.totalResults / this.$props.perPage);
                for (let index = 1; index <= numberOfPages; index++) {
                    this.pages.push(index);
                }
                this.$props.onPageChange(this.page);
            },
            goToSelectedPage(pageNumber) {
                this.page = pageNumber;
                this.$props.onPageChange(this.page);
            },
            goToPreviousPage() {
                this.page --;
                this.$props.onPageChange(this.page);
            },
            goToNextPage() {
                this.page ++;
                this.$props.onPageChange(this.page);
            }
        },
        mounted() {
            if (this.$props.data) {
                this.setPages();
            }
        },
        filters: {
            trimWords(value){
                return value.split(" ").splice(0,20).join(" ") + '...';
            }
        }
    }
</script>

<style>
    .pagination {
        list-style-type: none;
        display: flex;
        align-items: center;
    }
    .pagination .page-item:not(:first-child) {
        margin-left: 16px;
    }
    .pagination .page-item .page-link {
        background: #fff;
        border: none;
        padding: 8px 10px;
        border-radius: 8px;
        cursor: pointer;
    }
    .pagination .page-item .page-link:focus {
        outline: 0;
    }
    .pagination .page-item .page-link.active {
        background: rgb(26, 115, 232);
        color: #fff;
    }
    .offset-dropdown {
        margin-left: 8px;
    }
</style>
