<template>
  <div>
    <NavBar />
    <Employees />
  </div>
</template>

<script>
import NavBar from './components/Navbar';
import Employees from './components/Employees';

export default {
  name: 'App',
  components: {
    Employees,
    NavBar
  }
}
</script>

<style>
  body {
    font-family: 'Open Sans', sans-serif;
  }
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.btn {
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.submit-btn {
  background: rgb(26, 115, 232);
  color: #fff;
}
.cancel-btn {
  background: transparent;
}
.btn.cancel-btn.second {
  margin-left: 16px;
}
</style>
